<h1><%= @project.title %></h1>

<ul>
<% @project.tasks.each do |task| %>
<li>
 <%= check_box_tag "task[done]", true, task.done, {
   data: {
     url: project_task_done_path(@project, task),
     method: :patch,
     remote: true
   },
   onchange: '$(this).data("params", "task[done]=" + this.checked)'
 } %>

<%= task.title %>

</li>
<%= link_to "[Delete]", project_task_path(task.project, task), method: :delete, data: {confirm: "are yue sure?"} %>
<% end %>
  <li>
    <%= form_for [@project, @project.tasks.build] do |f| %>
      <%= f.text_field :title %>
      <%= f.submit %>
    <% end %>
  </li>
</ul>

